#about {
    font-family: 'Balsamiq Sans';
    width: 70%;
    display: inline-block;
}

#note {
    opacity: 0;
    transition: 1s;
}

#note:hover {
    opacity: 1;
}

#andrewxue {
    width: 25%;
    height: auto;
    float: left;
    border-radius: 20%;
    transition: all 1s;
}

#bio {
    margin-left: 30%;
    width: 60%;
    height: auto;
}

@media screen and (max-width: 1100px) {
    #about {
        display: block;
        width: 100%;
        height: 100%;
    }
    #andrewxue {
        float: none;
        width: min(200px, 70%);
        border-radius: 20%;
    }
    #bio {
        margin: 2% 10%;
        width: auto;
        left: 0;
    }
}