.about {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 3px 3px 10px gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'montserrat';
    z-index: 2;
}

.about-item {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease, box-shadow 0.75s ease;
}

.about-icon {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.stack-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.about-item:hover {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;
}

#educationImg {
    content: url('/imgs/education.png');
}

.about-item:hover > #educationImg {
    content: url('/imgs/educationLight.png');
}

#education:target {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;;
}

#education:target > #educationImg {
    content: url('/imgs/educationLight.png');
}

#programmingImg {
    content: url('/imgs/programming.png');
}

.about-item:hover > #programmingImg {
    content: url('/imgs/programmingLight.png');
}

#programming:target {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;;
}

#programming:target > #programmingImg {
    content: url('/imgs/programmingLight.png');
}

#hobbiesImg {
    content: url('/imgs/hobbies.png');
}

.about-item:hover > #hobbiesImg {
    content: url('/imgs/hobbiesLight.png');
}

#hobbies:target {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;;
}

#hobbies:target > #hobbiesImg {
    content: url('/imgs/hobbiesLight.png');
}

#accomplishmentsImg {
    content: url('/imgs/accomplishments.png');
}

.about-item:hover > #accomplishmentsImg {
    content: url('/imgs/accomplishmentsLight.png');
}

#accomplishments:target {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;;
}

#accomplishments:target > #accomplishmentsImg {
    content: url('/imgs/accomplishmentsLight.png');
}

#techstackImg {
    content: url('/imgs/techstack.png');
}

.about-item:hover > #techstackImg {
    content: url('/imgs/techstackLight.png');
}

#techstack:target {
    box-shadow: inset 0 0 0 50px black, 3px 3px 10px gray;;
}

#techstack:target > #techstackImg {
    content: url('/imgs/techstackLight.png');
}
