body h1{
    font-family: 'Concert One';
    font-size: 60px;
    color: black;
    padding-top: 75px;
    text-align: center;
}

img{
    height: 50px;
    width: auto;
    padding: 3px;
    underline:
}

.logos {
    text-align: center;
}

.container {
    width: 80%;
    height; 200px;
    margin: auto;
    padding: 10px;
}

.about {
    width: 15%;
    height 200px;
    font-size: 50px;
}

.problems {
    maring-left: 15%;
    height: 200px;
    font-size: 50px;
}
