body {
    overflow-x: hidden;
}

.cont {
  text-align: center;
}

#title{
    font-family: 'Concert One';
    font-size: 60px;
    color: black;
    padding-top: 75px;
    text-align: center;
}

.logo {
    height: 50px;
    width: auto;
    padding: 3px;
}

.options {
    color: gray;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}
.options:after, .options:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}
.options:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}
.options:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
.options:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.options:hover:before, .options:hover:after{
    width: 100%;
    height: 100%;
}

#about {
    font-family: 'Balsamiq Sans';
    width: 70%;
    height: 200px;
    display: inline-block;
}

#note {
    color: white;
    transition: 1s;
}

#note:hover {
    color: black;
}

#andrewxue {
    width: 25%;
    height: auto;
    float: left;
    border-radius: 35%;
}

#bio {
    margin-left: 30%;
    width: 60%;
    height: auto;
}

.buttons {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

#search-box {
    outline: none;
    width: 200px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}

#search-btn {
    width: 30px;
    height: 30px;
    outline: none;
    margin-left: 5px;
}

#tip {
    font-size: 10px;
    color: gray;
}

#btn1 {
  margin-left: 30px;
  margin-right: 30px;
}

#code-ctn, #error {
    width: fit-content;
    margin: 3% auto;
}

.panel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.panels {
    display: flex;
    justify-content: center;
    text-align: center;
}

.panel-front {
    width: 100%;
    height: 100%;
    left: 0px;
    border: 5px solid black;
    border-radius: 10px;
    size: 230px, 230px;
}

.panel-back {
    transform: rotateY(180deg);
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.panel-back h2 {
    color: black;
    font-family: 'Recursive';
}

.panel-back p {
    color: black;
    font-family: 'Balsamiq Sans';
}

.panel-outer {
    width: 230px;
    height: 230px;
    padding: 50px;
    perspective: 1000px;
}
  
.panel-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.panel-inner:hover {
    transform: rotateY(180deg);
}
  
.panel-front, .panel-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.main {
    position: relative;
    left: 0px;
    width: 300%;
    height: 430px;
    transition: all 1s;
}

.page {
    float: left;
    width: calc(100%/3);
    height: 100%;
}

.slider {
    display: none;
    width: 300px;
    margin: 10px;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
  
.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    perspective: 1000px;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 10px;
}
.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    background-color: lightgray;
    background-size: 100%, 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: opacity 0.7s;
}

.slide-text {
    color: black;
    width: 275px;
    margin-left: 10px;
    margin-top: -300px;
    display: none;
    transition: all 0.7s;
}

.slide-text h2 {
    font-family: 'Recursive';
    font-size: 50px;
}

.slide-text p {
    font-family: 'Balsamiq Sans';
}

.slide:hover {
    opacity: 0.1;
}

.slide:hover ~ .slide-text {
    display: block;
}

@media screen and (max-width: 800px) {
    .slider {
        display: block !important;
    }
    .panels {
        display: none !important;
    }
}