body h1{
    font-family: 'Concert One';
    font-size: 60px;
    color: black;
    padding-top: 75px;
    text-align: center;
}

img{
    height: 50px;
    width: auto;
}

.logos {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 25px 25px;
    grid-template-rows: 20px;
}

.subt {
    font-size: 25px;
    text-align: center;
}
