#search-box {
    outline: none;
    width: 200px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    background: transparent;
    border-radius: 5px;
}

#search-btn {
    width: 30px;
    height: 30px;
    outline: none;
    margin-left: 5px;
}

#tip {
    font-size: 10px;
    color: gray;
}

#conan {
    width: 250px;
    margin: 10px;
}

#sweat {
    opacity: 0;
    transition: all 1s;
}

#code {
    text-align: center;
}

#glasses {
}

@keyframes rot {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#code-ctn, #error {
    width: min(700px, 90%);
    height: 400px;
    margin: 0 auto;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
   
#prettyprint {
    display: inline-block;
    white-space: pre-wrap;
}

#error {
    text-align: center;
}