body {
    background-color: #F4E4D2;
}

#title {
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #8F6593;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}

.hr {
    width: 70%;
    background-color: brown;
    border-color: brown;
}

.about {
    font-family: 'Rambla';
    font-size: 20px;
    color: #594A26;
    padding: 30px min(20%, 300px);
}

#link {
    text-decoration: none;
    color: #344966;
}

#link:hover {
    color: #76818E;
}

#profiles {
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-align: center;
    color: #65532F;
}

.logo {
    width: 50px;
    margin: 5px;
    transition: all 0.5s;
}

.logo:hover {
    width: 60px;
}

#lipoker-logo {
    width: 15px;
}

#projects-title {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #8F6593;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: flex-end;
}

.panel-container {
    width: 100%;
    text-align: center;
}

.panels {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    transform: translateY(0);
    transition: 1s all ease;
}

.panel-front {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
    size: 230px, 230px;
}

.project-header {
    font-size: 30px;
    font-family: 'Oswald';
    font-stretch: ultra-expanded;
    font-weight: bold;
    color: rgba(165, 42, 42, 0.733);
}

.panel-back {
    transform: rotateY(180deg);
    border-radius: 8px;
    border: 3px solid #8F6593;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.panel-back p {
    color: #594A26;
    font-family: 'Rambla';
    line-height: 30px;
}

.panel-outer {
    width: 230px;
    height: 230px;
    margin: 50px;
    perspective: 1000px;
}
  
.panel-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.panel-outer:hover .panel-inner {
    transform: rotateY(180deg);
}
  
.panel-front, .panel-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-img {
    height: 150px;
}
