<!DOCTYPE html>
<html>
    <head>
        <title>Andrew Xue | {{ page.title }}</title>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Concert+One|Balsamiq+Sans'>
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <meta charset="UTF-8">
        <script src = "./js/index.js"></script>
        <script>
            /*
            window.store = {
                {% for post in site.posts %}
                "{{ post.title }}": {
                    "title": "{{post.title | xml_escape}}",
                    "content": {{ post.content | jsonify}}
                }
                {% unless forloop.last %},{% endunless %}
                {% endfor %}
            };*/
            {% for post in site.posts %}
            document.getElementById("storage").innerHTML += "HELLO";
            document.getElementById("storage").innerHTML += "{{post.title | xml_escape}}";
            window.localStorage.setItem(post.title, post.content);
            {% endfor %}
        </script>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js">
        </script>
    </head>
    <body>
        <div id="storage">
            
        </div>
        {{ content }}
    </body>
</html>
